<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button {{action "cancel"}} type="button" class="close">&times;</button>
            <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
            {{yield}}
        </div>
        <div class="modal-footer">
            {{#unless noCancel}}
                <button {{action "cancel"}} type="button" class="btn btn-default">
                    Cancel
                </button>
            {{/unless}}
            <button {{action "submit"}} type="button" class="btn btn-primary">
                {{proceedButton}}
            </button>
        </div>
    </div>
</div>