{{#if store.initDone}}
    {{modal-manager modalQueue=modalQueue}}
    {{alert-message}}

    <div class="flex-grow-row flex-1">
        {{window-grid menuAction="menuAction" windowAction="windowAction"}}
        {{main-sidebar windowAction="windowAction"}}
    </div>

    {{window-context-menu}}
    {{unconfirmed-email}}
{{else}}
    <div class="flex-grow-row flex-1 flex-align-center">
        <div class="loader loader-big"></div>
    </div>
{{/if}}
