{{#if store.initDone}}
    {{modal-manager}}
    {{alert-message}}

    <div class="flex-grow-row flex-1">
        {{window-grid draggedWindow=draggedWindow}}
        {{main-sidebar draggedWindow=draggedWindow}}
    </div>

    {{window-context-menu}}
    {{unconfirmed-email}}
{{else}}
    <div class="flex-grow-row flex-1 flex-align-center">
        <div class="loader loader-big"></div>
    </div>
{{/if}}
