{{#if alert}}
    <div class="flex-1 announcement-message">
        {{{alert.message}}}
    </div>

    {{#if alert.dismissible}}
        {{#if alert.postponeLabel}}
            <div>
                <button {{action "close" "postpone"}} type="button" class="btn btn-default">
                    {{alert.postponeLabel}}
                </button>
            </div>
        {{/if}}
        {{#if alert.nackLabel}}
            <div>
                <button {{action "close" "nack"}} type="button" class="btn btn-default">
                    {{alert.nackLabel}}
                </button>
            </div>
        {{/if}}
        <div>
            <button {{action "close" "ack"}} type="button" class="btn btn-primary">
                {{alert.ackLabel}}
            </button>
        </div>
    {{/if}}
{{/if}}
