<div class="logs-controls flex-row">
    <div class="logs-title">
        Conversation logs
    </div>

    <div class="logs-mode flex-1">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Browse <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a {{action "switch" "browse"}} href="#"><i class="fa fa-check"></i> Browse</a></li>
                <li><a {{action "logout" "search"}} href="#">Search (coming soon)</a></li>
            </ul>
        </div>
    </div>

    <div class="logs-dateselector flex-row">
        <button {{action "previousDay" target="view"}} type="button" class="btn btn-primary"><i class="fa fa-chevron-left"></i></button>
        <input class="logs-date">
        <button {{action "nextDay" target="view"}} type="button" class="btn btn-primary"><i class="fa fa-chevron-right"></i></button>
    </div>

    <div class="logs-conversationselector">
        {{view "select" optionLabelPath="content.label" optionValuePath="content.conversationId" content=view.conversations value=view.selectedConversation classNames="form-control"}}
    </div>
</div>

<div class="flex-row">
    <div class="logs-emulated-window-title group flex-row">
        <div class="flex-1">
            {{view.selectedConversationLabel}}
        </div>
    </div>
</div>

<div class="flex-grow-row flex-1 logs-channel">
    {{view.data}}
</div>
