<div class="window-title flex-row {{cssType}} {{ircServerWindow}}">
    <div class="window-caption flex-1" data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1500, "hide": 300}' title={{model.tooltipTopic}}>
        {{model.decoratedTitle}} {{model.decoratedTopic}}
    </div>

    <div>
        <i class="window-title-button fa fa-arrows" draggable="true"></i>
        <i {{action "hide"}} class="window-title-button fa fa-minus"></i>
        {{#if view.expanded}}
            <i {{action "compress" target="view"}} class="window-title-button fa fa-compress"></i>
        {{else}}
            <i {{action "expand" target="view"}} class="window-title-button fa fa-expand"></i>
        {{/if}}
    </div>
</div>

<div class="flex-row flex-1 window-content">
    {{#if logModeEnabled}}
        {{log-panel enabled=logModeEnabled window=model}}
    {{/if}}

    <div {{bind-attr class=":window-messages :flex-1 logModeEnabled:hidden"}}>
        {{#each message in model.messages}}
            {{dayDivider model.messages _view.contentIndex}}
            <div class="line {{message.cat}}">{{decoratedTimestamp message.ts}}<div class="nick">{{message.nick}}</div>{{{message.decoratedBody}}}</div>
        {{/each}}
        <div class="window-upload">
            <div class="js-upload">
                <div class="progress progress-success">
                    <div class="js-progress bar"></div>
                </div>
                <span class="btn-txt">Uploading (<span class="js-size"></span>)</span>
            </div>
        </div>
    </div>

    {{#if isGroup}}
        <div {{bind-attr class=":window-members logModeEnabled:hidden wideMemberList:window-members-wide"}}>
            {{#each name in model.operatorNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":window-operator wideMemberList::hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
            {{#each name in model.voiceNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":window-voice wideMemberList::hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
            {{#each name in model.userNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":window-user wideMemberList::hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>

<div {{bind-attr class=":window-toolbar :flex-row logModeEnabled:hidden"}}>
    <div class="window-add-text-container flex-1">
        <form {{action "sendMessage" on="submit"}}>
            {{input placeholder="Write here…" class="form-control" valueBinding="newMessage"}}
            {{#if model.scrollLock}}
                {{#if model.newMessagesCount}}
                    <div class="window-new-messages">
                        <span class="fa fa-chevron-down"></span> New messages
                    </div>
                {{/if}}
            {{/if}}
        </form>
    </div>

    <div class="window-buttons flex-row">
        <button type="button" class="btn btn-file">
            <i class="fa fa-cloud-upload"></i>
            <input name="files" type="file" multiple>
        </button>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li {{action "openModal" "password-modal" model}}><a href="#">Change password&hellip;</a></li>
                <li {{action "openModal" "topic-modal" model}}><a href="#">Edit topic&hellip;</a></li>
                <li {{action "openModal" "alerts-modal" model}}><a href="#">Configure alerts&hellip;</a></li>
                <li {{action "toggleMemberListWidth"}}><a href="#">Toggle member list width</a></li>
                <li class="divider"></li>
                <li {{action "browse"}}><a href="#">Browse history&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "openModal" "capture-modal" model}}><a href="#">Take and upload photo&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "close"}}><a href="#">Close window and exit this {{model.explainedType}}</a></li>
            </ul>
        </div>
    </div>
</div>
