<div class="window-title flex-row {{cssType}} {{ircServerWindow}}">
    <div class="window-caption flex-1" data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1500, "hide": 300}' title={{model.tooltipTopic}}>
        {{model.decoratedTitle}} {{model.decoratedTopic}}
    </div>

    <div>
        <i {{action "hide"}} class="window-title-button fa fa-minus"></i>
        {{#if view.expanded}}
            <i {{action "compress" target="view"}} class="window-title-button fa fa-compress"></i>
        {{else}}
            <i {{action "expand" target="view"}} class="window-title-button fa fa-expand"></i>
        {{/if}}
    </div>
</div>

<div class="flex-grow-row flex-1">
    <div class="window-messages flex-1">
        {{#each message in model.messages}}
            {{dayDivider model.messages _view.contentIndex}}
            <div class="line {{message.cat}}">{{decoratedTimestamp message.ts}}<div class="nick">{{message.nick}}</div>{{{message.decoratedBody}}}</div>
        {{/each}}

        <div class="window-upload">
            <div class="js-upload">
                <div class="progress progress-success">
                    <div class="js-progress bar"></div>
                </div>
                <span class="btn-txt">Uploading (<span class="js-size"></span>)</span>
            </div>
        </div>
    </div>

    {{#if isGroup}}
        <div class="window-members">
            {{#each name in model.operatorNames}}
                <div class="window-operator" {{bind-attr data-userid=name.userId}}>{{name.nick}}</div>
            {{/each}}
            {{#each name in model.voiceNames}}
                <div class="window-voice" {{bind-attr data-userid=name.userId}}>{{name.nick}}</div>
            {{/each}}
            {{#each name in model.userNames}}
                <div class="window-user" {{bind-attr data-userid=name.userId}}>{{name.nick}}</div>
            {{/each}}
        </div>
    {{/if}}
</div>

<div class="window-toolbar flex-row">
    <div class="window-add-text-container flex-1">
        <form {{action "sendMessage" on="submit"}}>
            {{input placeholder="Write here…" class="form-control" valueBinding="newMessage"}}
            {{#if model.scrollLock}}
                {{#if newMessagesCount}}
                    <div class="window-new-messages">
                        <span class="glyphicon glyphicon-arrow-down"></span> New messages
                    </div>
                {{/if}}
            {{/if}}
        </form>
    </div>

    <div class="window-buttons flex-row">
        <button type="button" class="btn btn-file">
            <i class="fa fa-cloud-upload"></i>
            <input name="files" type="file" multiple>
        </button>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li {{action "openModal" "password-modal" model}}><a href="#">Change password&hellip;</a></li>
                <li {{action "openModal" "topic-modal" model}}><a href="#">Edit topic&hellip;</a></li>
                <li {{action "openModal" "alerts-modal" model}}><a href="#">Configure alerts&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "openModal" "capture-modal" model}}><a href="#">Take and upload photo&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "close"}}><a href="#">Close window and exit this {{model.explainedType}}</a></li>
            </ul>
        </div>
    </div>
</div>
