<li class="dropdown-header">Contacts:</li>

{{#each friend in sortedFriends}}
    <li class="main-friend-item">
        <div class="main-friend-chat" {{action "startChat" friend.userId}} data-toggle="tooltip" data-placement="top" title="Start 1-on-1 chat"><i class="fa fa-comments"></i></div>
        <div class="main-friend-name">{{friend.name}}</div>
        {{#if friend.online}}
            <div class="main-friend-status">
                <i class="online fa fa-circle"></i>
            </div>
        {{else}}
            <div class="main-friend-ago">
                {{timeSince friend.online friend.last}}
            </div>
        {{/if}}
        <div {{action "removeFriend" friend.userId}} class="main-friend-remove">
            <i class="fa fa-times"></i>
        </div>
    </li>
{{/each}}
