<div class="window-title flex-row {{cssType}} {{ircServerWindow}}">
    <div class="window-caption flex-1" data-toggle="tooltip" data-placement="bottom" data-delay='{"show": 1500, "hide": 300}' title={{content.tooltipTopic}}>
        {{content.decoratedTitle}} {{content.decoratedTopic}}
    </div>

    <div>
        {{#unless logModeEnabled}}
            <i class="window-title-button fa fa-arrows"></i>
            <i {{action "hide"}} class="window-title-button fa fa-minus"></i>
            {{#if expanded}}
                <i {{action "compress"}} class="window-title-button fa fa-compress"></i>
            {{else}}
                <i {{action "expand"}} class="window-title-button fa fa-expand"></i>
            {{/if}}
        {{/unless}}
    </div>
</div>

<div class="flex-row flex-1 window-content">
    {{#if logModeEnabled}}
        {{log-panel enabled=logModeEnabled window=content compress="compress"}}
    {{/if}}

    <div {{bind-attr class=":window-messages :flex-1 logModeEnabled:hidden"}}>
        {{#each message in content.messages}}
            {{dayDivider content.messages _view.contentIndex}}
            <div class="line {{message.decoratedCat}}">{{decoratedTimestamp message.ts}}<div class="nick">{{message.nick}}</div>{{{message.decoratedBody}}}</div>
        {{/each}}
        <span class="window-messages-end"></span>
        <div class="window-upload">
            <div class="js-upload">
                <div class="progress progress-success">
                    <div class="js-progress bar"></div>
                </div>
                <span class="btn-txt">Uploading (<span class="js-size"></span>)</span>
            </div>
        </div>
    </div>

    {{#if isGroup}}
        <div {{bind-attr class=":window-members logModeEnabled:hidden content.minimizedNamesList::window-members-wide"}}>
            {{#each name in content.operatorNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":member-name :window-operator content.minimizedNamesList:hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
            {{#each name in content.voiceNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":member-name :window-voice content.minimizedNamesList:hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
            {{#each name in content.userNames}}
                <div class="member-row" data-userid="{{name.userId}}" data-nick="{{name.nick}}">
                    <img class="gravatar" src="//gravatar.com/avatar/{{name.gravatar}}?d=mm" />
                    <div {{bind-attr class=":member-name :window-user content.minimizedNamesList:hidden"}}>
                        {{name.nick}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>

<div {{bind-attr class=":window-toolbar :flex-row logModeEnabled:hidden"}}>
    <div class="window-add-text-container flex-1">
        <form {{action "sendMessage" on="submit"}}>
            {{input placeholder="Write here…" class="form-control" value=newMessage}}
            {{#if content.scrollLock}}
                {{#if content.newMessagesCount}}
                    <div {{action "jumpToBottom"}} class="window-new-messages">
                        <span class="fa fa-chevron-down"></span> New messages
                    </div>
                {{/if}}
            {{/if}}
        </form>
    </div>

    <div class="window-buttons flex-row">
        <button type="button" class="btn btn-file">
            <i class="fa fa-cloud-upload"></i>
            <input name="files" type="file" multiple>
        </button>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li {{action "menu" "editPassword"}}><a href="#">Change password&hellip;</a></li>
                <li {{action "menu" "editTopic"}}><a href="#">Edit topic&hellip;</a></li>
                <li {{action "menu" "editAlerts"}}><a href="#">Configure alerts&hellip;</a></li>
                <li {{action "toggleMemberListWidth"}}><a href="#">Toggle member list width</a></li>
                <li class="divider"></li>
                <li {{action "browse"}}><a href="#">Browse history&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "menu" "takePhoto"}}><a href="#">Take and upload photo&hellip;</a></li>
                <li class="divider"></li>
                <li {{action "close"}}><a href="#">Close window and exit this {{content.explainedType}}</a></li>
            </ul>
        </div>
    </div>
</div>
