{{#each messages key="gid" as |message|}}
    <div class="line {{message.decoratedCat}}">
        <div class="timestamp">
            {{message.decoratedTs}}
        </div>
        <div class="body">
            <span class="nick">
                {{message.nick~}}
            </span>
            {{~#if message.channelAction}}
                {{message.channelAction}}
            {{~else}}
                {{#if message.editing}}
                    {{textarea value=editBody}}
                    <button {{action "change" message}} type="button" class="btn btn-default btn-xs">Change</button>
                    <button {{action "cancel" message}} type="button" class="btn btn-default btn-xs">Cancel</button>
                    <button {{action "delete" message}} type="button" class="btn btn-danger btn-xs">Delete</button>
                {{else}}
                    {{{message.text}}}
                    {{~#if message.myNotDeletedMessage~}}
                         <i {{action "edit" message}} class="edit-message-button fa fa-edit"></i>
                    {{~/if~}}
                    {{~#if message.edited~}}
                         <span class="msg-edited-label" data-toggle="tooltip" data-delay='{"show": 200, "hide": 200}' title="Last edited {{message.updatedDateLong}}"><i class="fa fa-pencil"></i> {{message.updatedTime}}</span>
                    {{~/if~}}
                    {{~#if message.deleted~}}
                         <span class="msg-deleted-label">Deleted {{message.updatedDate}}</span>
                    {{~/if~}}
                {{/if}}
                {{#if message.hideImages}}
                    <i {{action "toggleImages" message}} class="user-img-restore fa fa-picture-o"></i>
                {{/if}}
                {{~#if message.hasMedia}}
                    <ul class="user-media" data-gid="{{message.gid}}" data-has-images="{{message.hasImages}}">
                        {{#if message.hasYoutubeVideo}}
                            <li>
                                <iframe class="youtube-preview" src="https://www.youtube.com/embed/{{message.videoId}}?showinfo=0&autohide=1" allowfullscreen frameborder="0"></iframe>
                            </li>
                        {{/if}}
                        {{#unless message.hideImages}}
                            {{#each message.images as |image|}}
                                <li>
                                    <a href="{{image.url}}" class="user-img">
                                        <div class="user-img-container">
                                            <img src="{{image.source}}">
                                            <span {{action "toggleImages" message on="mouseDown" bubbles=false}} class="user-img-close fa-stack">
                                                <i class="fa fa-circle fa-stack-2x"></i>
                                                <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            {{/each}}
                        {{/unless}}
                    </ul>
                {{~/if}}
            {{~/if}}
        </div>
    </div>
{{/each}}
