<div class="flex-grow-row flex-1">
    {{partial "window"}}
    {{partial "window"}}
    {{partial "window"}}
</div>

<div class="flex-grow-row flex-1">
    {{partial "window"}}
    {{partial "window"}}
</div>