{{render "grid" this}}

<div class="sidebar flex-grow-column">
    <div class="upper-sidebar flex-1">
        {{#each window in sortedHiddenWindows}}
            <div class="main-hidden-window-container" {{action "show" window}}>
                <div class="main-badge">{{window.newMessagesCount}}</div>
                <div class="main-short-name">{{window.simplifiedName}}</div>
            </div>
        {{/each}}
    </div>

    <div class="lower-sidebar">
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-plus fa-lg"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right main-sidebar-button-down">
                <li {{action "openModal" "create-group-modal"}}><a href="#">Create new group&#8230;</a></li>
                <li {{action "openModal" "join-group-modal"}}><a href="#">Join existing group&#8230;</a></li>
                <li class="divider"></li>
                <li {{action "openModal" "join-irc-modal"}}><a href="#">Join IRC channel&#8230;</a></li>
            </ul>
        </div>

        <button type="button" class="btn btn-default">
            <i class="fa fa-info fa-lg"></i>
        </button>

        <div class="btn-group dropup pull-left">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-lg"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right main-sidebar-button-up">
                {{render "friends" friends}}
            </ul>
        </div>

        <button {{action "openFullScreenModal" "logs"}} type="button" class="btn btn-default">
            <i class="fa fa-search fa-lg"></i>
        </button>

        <div class="btn-group dropup pull-left">
            <button type="button" class="btn btn-default" data-toggle="dropdown">
                <i class="fa fa-wrench fa-lg"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right main-sidebar-button-up">
                <li {{action "logout"}}><a href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="window-contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li class="dropdown-header"></li>
        <li><a data-action="chat" href="#">Start private chat with</a></li>
        <li><a data-action="whois" href="#">Whois</a></li>
        <li><a data-action="op" href="#">Give operator rights</a></li>
        <li class="divider"></li>
        <li><a data-action="kick" href="#">Kick</a></li>
        <li><a data-action="kickban" href="#">Kick and ban</a></li>
    </ul>
</div>
