<div class="window-title flex-row">
    <div class="window-caption flex-1">
        {{decoratedTitle name network type}}
    </div>

    <div>
        <span {{action "hide"}} class="window-title-button glyphicon glyphicon-minus"></span>
        <span {{action "expand"}} class="window-title-button glyphicon glyphicon-plus"></span>
    </div>
</div>

<div class="flex-grow-row flex-1">
    <div class="window-messages flex-1">
        {{#each message in messages}}
        <div {{bind-attr class="message.cat :line"}}><div class="timestamp">{{decoratedTimestamp message.ts}}</div><div class="nick">{{message.nick}}</div>{{{message.decoratedBody}}}</div>
        {{/each}}
    </div>

    {{#if isGroup}}
        <div class="window-members">
            {{#each name in operators}}
            <div class="window-operator">{{name}}</div>
            {{/each}}
            {{#each name in users}}
            <div>{{name}}</div>
            {{/each}}
        </div>
    {{/if}}
</div>

<div class="window-toolbar flex-row">

    <div class="window-add-text-container flex-1">
        <form {{action "sendMessage" on="submit"}}>
            {{input action="sendMessage" elementId="send_text" placeholder="Write here&hellip;" class="form-control" valueBinding="newMessage"}}
        </form>
    </div>

    <div class="window-buttons flex-row">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-link"></span>
        </button>

        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li {{action "moveRowUp"}}><a href="#">Move one row up</a></li>
                <li {{action "moveRowDown"}}><a href="#">Move one row down</a></li>
                <li class="divider"></li>
                <li {{action "close"}}><a href="#">Part this channel/group</a></li>
            </ul>
        </div>
    </div>
</div>
