<div class="window-title flex-row">
    <div class="window-caption flex-1">
        {{decoratedTitle name network type}}
    </div>

    <div>
        <span {{action "hide"}} class="window-title-button glyphicon glyphicon-minus"></span>
        <span {{action "expand"}} class="window-title-button glyphicon glyphicon-plus"></span>
    </div>
</div>

<div class="flex-grow-row flex-1">
    <div class="window-messages flex-1">
        {{#each message in messages}}
        <div {{bind-attr class="message.cat :line"}}><div class="timestamp">{{decoratedTimestamp message.ts}}</div><div class="nick">{{message.nick}}</div><span class="body">{{{decoratedBody message.body}}}</span></div>
        {{/each}}
    </div>

    <div class="window-members">
    </div>
</div>

<div class="window-toolbar flex-row">

    <div class="flex-1">
        {{input action="sendMessage" class="form-control" valueBinding="newMessage"}}
    </div>

    <div class="window-buttons">
        <button type="button" class="btn">
            <span class="glyphicon glyphicon-link"></span>
        </button>


        <div class="btn-group dropup">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-align-justify"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li class="divider"></li>
                <li {{action "moveRowUp"}}><a href="#">Move one row up</a></li>
                <li {{action "moveRowDown"}}><a href="#">Move one row down</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </div>
</div>
